.newcomment{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(166, 166, 245);
    color: rgb(67, 10, 121);

}
.newcomment div{
    margin: 10px 0;
}